html,.app{
    height: 100%;
}

body {
    font-family: 'M';
}

.app{
    display: flex;
}

.app-body{
    flex-grow: 1;
}

@media (max-width: 576px) {
    .login {
        box-shadow: none !important;
        border: none !important;
    }

    .sidebar{
        width: 4,5rem !important;
    }
}